.card {
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
}

.btn-custom {
    background-color: rgb(255, 82, 82);
    border-radius: 30px;
    font-family: sans-serif;
    color: white;
    padding: 10px 20px;
}

.btn-custom:last-child {
    margin-left: 20px;
}